<%- include ("layouts/header") %>
    <div class="container my-4">
        <div class="row">
            <div class="col-md-12">
                <form method="POST" action="/save_settings">
                    <% if (typeof request.message !=="undefined" && request.message=="success" ) { %>
                        <div class="alert alert-success">
                            Settings has been saved.
                        </div>
                        <% } %>
                            <div class="form-group">
                                <label>Name</label>
                                <input class="form-control" name="name" value="<%= user.name %>" required>
                            </div>
                            <div class="form-group">
                                <label>Password (Leave blank if no change)</label>
                                <input class="form-control" name="password" placeholder="******" type="password">
                            </div>
                            <input type="submit" class="btn btn-success" value="Save Changes">
                </form>
            </div>
        </div>
    </div>
    <%- include ("layouts/footer") %>